.Inputs {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}

.control {
  border-color: #383743;
  border-left: transparent;
  outline: none;

  &:focus {
    border-color: #383743;
    box-shadow: none;
  }
}

.prepend,
.append {
  background: transparent;
  border-color: #383743;
}

.prepend {
  border-right: transparent;
}

.append,
.visibility-append {
  border-left: transparent;
}

.email-input,
.password-input {
  margin: 15px 0;
}

.password {
  border-right: transparent;
}

.visibility-append {
  cursor: pointer;
}
