.Detail {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #ebe9d7;
}

.nav-title {
  display: flex;
  color: white;
  h4 {
    font-weight: bold;
    font-size: 22px;
  }
}

.main-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.back-button {
  outline: none !important;
  border: none !important;
}
