.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ebe9d7;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 80%;
}

.logo,
.title {
  margin: 20px 0;
}

.title {
  font-weight: bold;
  width: 60%;
  text-align: center;
}
