body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #ebe9d7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import '~bootstrap/scss/bootstrap';

.btn-login {
  color: white;
  font-weight: bold;
  background-color: purple;
  &:hover {
    color: white;
  }
  background-color: #57bbbc;
  border-color: #57bbbc;
}
